# -----------------------------------------------------------------------------
# Custom Configurations
# -----------------------------------------------------------------------------
.DS_Store
.nextflow.*
.nextflow/
FAUST_RESULTS/
work
