docker.enabled = true

// AWS Batch Configurations
params.aws_batch_queue = "PLEASE_PASS_THIS_PARAMETER_IN"
params.aws_region = "us-west-2"

process {
      executor = "awsbatch"
      queue = "$params.aws_batch_queue"
      cpus = 3
      memory = { 2.GB * task.attempt }
      errorStrategy = {  task.exitStatus in 137..140 ? "retry" : "terminate" }
      maxRetries = 3
}

aws.region = "$params.aws_region"
aws.batch.cliPath = "/home/ec2-user/miniconda/bin/aws"
executor.awscli = "/home/ec2-user/miniconda/bin/aws"

manifest {
    author = "Greg Finak, Evan Greene, Logan Knecht,"
    defaultBranch = "master"
    mainScript = "main.nf"
    name = "faust"
    version = "1.0"
}
