profiles {
    aws { includeConfig "./nextflow_configurations/aws.config" }
    local { includeConfig "./nextflow_configurations/local.config" }
}

manifest {
    author = "Greg Finak, Evan Greene, Logan Knecht,"
    defaultBranch = "master"
    mainScript = "main.nf"
    name = "FAUST Workflow"
    version = "1.0.0"
}
