docker.enabled = true

process {
  executor = 'awsbatch'
  queue = 'faust-queue'
  cpus = 3 
  memory = { 2.GB * task.attempt }
  errorStrategy = {  task.exitStatus in 137..140 ? 'retry' : 'terminate' }
  maxRetries = 3
}

aws.region = 'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'

manifest {
author = 'Greg Finak, Logan Knecht, Evan Greene'
defaultBranch = 'master'
mainScript = 'main.nf'
name = 'faust'
version = '1.0'
}

