docker.enabled = true

params {
    aws_region = "us-west-2"
}

process {
    executor = "awsbatch"
    queue = "PLEASE_PASS_THIS_IN!"
    errorStrategy = { task.attempt <= 3 ? "retry" : "terminate" }
    // ---
    withLabel: micro_mem_and_cpu {
        cpus = { 4 * task.attempt }
        memory = {2.GB * task.attempt }
    }
    // 1000 vCPU == 62 concurrent workers
    withLabel: standard_mem_and_cpu {
        cpus = { 16 * task.attempt }
        memory = {32.GB * task.attempt }
    }
    // 1000 vCPU == 31 concurrent workers
    withLabel: large_cpu {
        cpus = { 32 * task.attempt }
        memory = {64.GB * task.attempt }
    }
    // 1000 vCPU == 16 concurrent workers
    withLabel: extra_large_cpu {
        cpus = { 64 * task.attempt }
        memory = {128.GB * task.attempt }
    }
    withLabel: high_memory {
        cpus = { 16 * task.attempt }
        memory = 256.GB
    }
}

aws {
    batch {
        cliPath = "/home/ec2-user/miniconda/bin/aws"
        maxTransferAttempts = 3
        volumes = ['/docker_scratch:/tmp:rw']
    }
    region = "$params.aws_region"
}

executor {
    awscli = "/home/ec2-user/miniconda/bin/aws"
}

manifest {
    author = "Greg Finak, Evan Greene, Logan Knecht,"
    defaultBranch = "master"
    mainScript = "main.nf"
    name = "FAUST"
    version = "1.0.0"
}
