docker.enabled = true

process {
    errorStrategy = { task.attempt <= 3 ? "retry" : "terminate" }
    withLabel: micro_mem_and_cpu {
        cpus = { 4 }
        memory = { 2.GB }
    }

    withLabel: standard_mem_and_cpu {
        cpus = { 4 }
        memory = { 2.GB }
    }

    withLabel: large_cpu {
        cpus = { 4 }
        memory = { 2.GB }
    }

    withLabel: extra_large_cpu {
        cpus = { 4 }
        memory = { 2.GB }
    }

    withLabel: high_memory {
        cpus = { 4 }
        memory = { 2.GB }
    }
}

process {
    stageInMode = "copy"
    stageOutMode = "copy"
}